.tableContainer {
  width: 100vw;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}

.rowItem {
  flex: 1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  font-size: 12;
  color: black;
  margin-top: 10px;
}
