.tableContainer {
    width: 100vw;
}

.rowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color:#5a32a8;
}

.rowItem {
    flex:1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 12;
    color:#3267a8;
    margin-top: 10px;

}