$button-gradient: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);

.linkButton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: $button-gradient;
  background-color: #ededed;
  border-radius: 100px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  margin-top: 3px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  transition: all 0.2s;

  &:hover {
    background: $button-gradient;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.653);
  }
  &:active {
    position: relative;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.468);
  }
}
