.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.formItem{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    font-size: x-large;
    flex-wrap: wrap;

}

.formTitle{

}

.formInput{
    margin-left: 1rem;
    font-size: large;
}

.rowForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
}

.rowFormItem{
    flex:1;
    font-size: x-large;

    text-align: left;

}

.submitButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:lightpink;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    flex: 1;
    margin-bottom: 10px;
}

.submitButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.submitButton:active {
	position:relative;
	top:1px;
}


