.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.formItem{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    font-size: x-large;
    flex-wrap: wrap;

}

.formTitle{

}

.formInput{
    margin-left: 1rem;
    font-size: large;
}

.rowForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
}

.rowFormItem{
    flex:1;
    font-size: x-large;

    text-align: left;

}
