$primary-background-gradient: linear-gradient(
  to right bottom,
  #5ab9ea,
  #84ceeb
);
$primary-background-dark: darken(#c1c8e4, 15%);
$glossy-white: #fffcf7;

@mixin home-page-container-layout() {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin logo-positioning($leftPx, $rightPx) {
  position: absolute;
  left: $leftPx;
  right: $rightPx;
  width: 50px;
}

@mixin hide-element() {
  visibility: hidden;
}

.home-container {
  position: relative;
}
.homePageContainer {
  min-height: 110vh;
  height: auto;
  width: 100vw;
  background: $primary-background-gradient;
  @include home-page-container-layout();
}
.logo-left {
  @include logo-positioning(5vw, none);
}
.logo-right {
  @include logo-positioning(none, 5vw);
}
.logo {
  width: 50px;
}

@media (max-height: 845px) {
  .homePageContainer {
    min-height: 150vh;
    height: auto;
  }
}

.homePageSecondContainer {
  @include home-page-container-layout();
}

.homePageGraph {
  min-height: 30vw;
  height: auto;
  width: 85vw;
  margin-top: 5vh;
}

@media (max-width: 1291px) {
  .homePageGraph {
    margin-bottom: 10vh;
  }
}

@media (max-width: 836px) {
  .homePageGraph {
    margin-bottom: 20vh;
  }
}

@media (max-width: 546px) {
  .homePageGraph {
    margin-bottom: 10vh;
  }
}

@media (max-width: 422px) {
  .logo-left {
    @include hide-element();
  }

  .logo-right {
    @include hide-element();
  }
}

@media (max-height: 774px) {
  .homePageGraph {
    margin-bottom: 10vh;
  }
}
