.rulePageContainer {
    height: 100vh;
    width: 100vw;
    background-color:  #c1c8e4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerRules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    border-width: 2px;
    border-color: chocolate;
    border-style: double;
    margin-top: 10%;
    border: 4mm ridge rgba(10, 50, 220, .6);
    background-color: #DDE4FF;
    box-shadow: 10px 5px 5px grey;
}

.rulesRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.ruleDiscrip {
    padding-left: 1%;
}