$dark-primary-gradient: linear-gradient(
  to right bottom,
  #5ab9ea,
  #5680e9
); // #5680e9;
$glossy-white: #fffcf7;

@mixin nav-layout($background-color) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: $background-color;
}

.navContainer {
  height: 10vh;
  @include nav-layout($dark-primary-gradient);
}

@media (max-width: 600px) {
  .navContainer {
    height: 25vh;
    flex-direction: column;
  }
}

.subNavContainer {
  height: 5vh;
  margin-top: 2vh;
  @include nav-layout($glossy-white);
}
@media (max-width: 550px) {
  .subNavContainer {
    height: 20vh;
    flex-direction: column;
  }
}

.navLink {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  transition: all 0.2s;

  &:hover {
    animation-name: hoverGrow;
    transform: scale(1.2);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
