.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: lightblue;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 600px) {
  .navContainer {
    height: 25vh;
    flex-direction: column;
  }
}

.subNavContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  background-color: white;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
}
@media (max-width: 550px) {
  .subNavContainer {
    height: 20vh;
    flex-direction: column;
  }
}

.navLink {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
  transition: all 0.2s;
}

.navLink:hover {
  animation-name: hoverGrow;
  color: black;
  transform: scale(1.2);
}
.navLink:active {
  position: relative;
  top: 1px;
}
