$primary-background-gradient: linear-gradient(
  to right bottom,
  #5ab9ea,
  #84ceeb
);
$primary-background-dark: darken(#c1c8e4, 15%);
$glossy-white: #fffcf7;

@mixin rulesContainerLayout() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin loginLogo($leftPx: none, $rightPx: none) {
  height: 50px;
  position: absolute;
  bottom: 80%;
  left: $leftPx;
  right: $rightPx;
  animation-name: bounce;
  animation-duration: 3s;
}

.rulePageContainer {
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background: $primary-background-gradient;
  @include rulesContainerLayout();
  position: relative;
}

.-image-background {
  background: transparent;
}

video {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .rulePageContainer {
    height: 120vh;
    width: 100vw;
    background: $primary-background-gradient;
    @include rulesContainerLayout();
  }

  .login-title {
    word-break: break-all;
  }
}

.containerRules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-width: 2px;
  border-color: chocolate;
  border-style: double;
  margin-top: 5%;
  border: 1mm ridge #5680e9;
  background-color: $glossy-white;
  box-shadow: 10px 5px 5px grey;
  position: relative;
}

.card--small {
  max-width: 700px;
}

.login-opacity {
  opacity: 0.8;
}

.login-logo {
  height: 50px;
  position: absolute;
  bottom: 80%;
  left: none;
  right: none;
  animation-name: bounce;
  animation-duration: 3s;

  &--left {
    left: 85%;
  }

  &--right {
    right: 85%;
  }
}

@keyframes bounce {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rules__row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  text-align: left;
  width: 65vw;
}

.rule__description {
  padding-left: 5px;
}
